section.addresses
    .container
        .content
            h2.addresses__title Как нас найти?
            .addresses__items-wrapper.g-t-c-2.g-g-10
                .addresses__item
                    p.addresses__address г. Обнинск, ул. Энгельса 19
                    a.addresses__route(href="#") Проложить маршрут
                .addresses__item
                    p.addresses__address г. Малоярославец, ул. Московская 74А
                    a.addresses__route(href="#") Проложить маршрут
                .addresses__item
                    p.addresses__address г. Обнинск, ул.Маркса 87 (салон мебели Spezia)
                    a.addresses__route(href="#") Проложить маршрут
                .addresses__item
                    p.addresses__address г. Обнинск, Киевское шоссе, Строительная ярмарка 101 км, 3 сектор
                    a.addresses__route(href="#") Проложить маршрут


