section.advantages
    .container
        .content.f-j-s-b
            .advantages__item(data-aos="fade-up" data-aos-delay="100")
                .advantages__icons-wrapper
                    img(src="./img/advantages/blob-1.svg", alt="").advantages__icon
                    img(src="./img/advantages/icon-1.svg", alt="").advantages__icon.ml-10
                .advantages__title Необычный дизайн
                .description Являясь всего лишь частью общей картины
            .advantages__item(data-aos="fade-up" data-aos-delay="200")
                .advantages__icons-wrapper
                    img(src="./img/advantages/blob-2.svg", alt="").advantages__icon
                    img(src="./img/advantages/icon-2.svg", alt="").advantages__icon.ml-9
                .advantages__title Необычный дизайн
                .description Являясь всего лишь частью общей картины
            .advantages__item(data-aos="fade-up" data-aos-delay="300")
                .advantages__icons-wrapper
                    img(src="./img/advantages/blob-3.svg", alt="").advantages__icon
                    img(src="./img/advantages/icon-3.svg", alt="").advantages__icon
                .advantages__title Необычный дизайн
                .description Являясь всего лишь частью общей картины
            .advantages__item(data-aos="fade-up" data-aos-delay="400")
                .advantages__icons-wrapper
                    img(src="./img/advantages/blob-4.svg", alt="").advantages__icon
                    img(src="./img/advantages/icon-4.svg", alt="").advantages__icon
                .advantages__title Необычный дизайн
                .description Являясь всего лишь частью общей картины

