section.answers
    .container
        .content
            h2.answers__title(data-aos="fade-up" data-aos-delay="350" data-aos-duration="500") Ответы на вопросы
            .answers__content-wrapper.g-t-c-2.g-g-20
                .answers__img-wrapper(data-aos="fade-up" data-aos-delay="350" data-aos-duration="600")
                    img(src="./img/answers/big-blob.svg", alt="").answers__img
                    img(src="./img/answers/photo-shape.png", alt="").answers__img
                    img(src="./img/answers/little-blob.svg", alt="").answers__img
                .answers__items-wrapper
                    .answers__item.answers__item_active(data-aos="fade-up" data-aos-delay="600" data-aos-duration="600")
                        .answers__number 1
                        h4.answers__little-title Каким способом можно оплатить заказ?
                        p.answers__info С другой стороны дальнейшее развитие различных 
                                        | форм деятельности обеспечивает широкому кругу (специалистов) участие 
                                        | в формировании систем массового участия.
                    .answers__item(data-aos="fade-up" data-aos-delay="800" data-aos-duration="600")
                        .answers__number 2
                        h4.answers__little-title Какие способы доставки и как долго будет идти заказ?
                        p.answers__info С другой стороны дальнейшее развитие различных 
                                        | форм деятельности обеспечивает широкому кругу (специалистов) участие 
                                        | в формировании систем массового участия.
                    .answers__item(data-aos="fade-up" data-aos-delay="1000" data-aos-duration="600")
                        .answers__number 3
                        h4.answers__little-title Из каких материалов изготовлена мебель?
                        p.answers__info С другой стороны дальнейшее развитие различных 
                                        | форм деятельности обеспечивает широкому кругу (специалистов) участие 
                                        | в формировании систем массового участия.
                    .answers__item(data-aos="fade-up" data-aos-delay="1200" data-aos-duration="600")
                        .answers__number 4
                        h4.answers__little-title Можно ли сделать возврат и при каких условиях?
                        p.answers__info С другой стороны дальнейшее развитие различных 
                                        | форм деятельности обеспечивает широкому кругу (специалистов) участие 
                                        | в формировании систем массового участия.

