section.gallery(data-aos="fade-up" data-aos-delay="700" data-aos-duration="600")
    .container
        .content
            h2.gallery__title Фотографии спален
            .gallery__items.g-t-c-3
                img.gallery__item(src="./img/gallery/gallery-1.png", alt="")
                img.gallery__item(src="./img/gallery/gallery-2.png", alt="")
                img.gallery__item(src="./img/gallery/gallery-3.png", alt="")