section.hat
    .container
        .content.f-j-s-b
            .hat__item
                h1.hat__title(data-aos="fade-up" data-aos-delay="50" data-aos-duration="500") Эксклюзивные <br><strong class='hat__title_violet'>детские спальни</strong><br> под ключ
                p.description.hat__description(data-aos="fade-up" data-aos-delay="100" data-aos-duration="700") Учитывая ключевые сценарии поведения, внедрение современных методик однозначно фиксирует ключевые.
                button.button.button_violet.hat__button(data-aos="fade-up" data-aos-delay="170" data-aos-duration="900") Заказать дизайн-проект
            .parallax.hat__item
                img.parallax__item#figureLightYellow(src="./img/parallax/figure-light-yellow.svg", alt="" data-aos="fade-in")
                img.parallax__item#figureYellow(src="./img/parallax/figure-yellow.svg", alt="" data-aos="fade-in")
                img.parallax__item#bedImg(src="./img/parallax/bed.png", alt="" data-aos="zoom-in")

        
