header.header(data-aos="fade-in")
    .container
        .content
            img.logo.header__logo(src="./img/logo.png", alt="")
            .header__info-wrapper.f-j-s-b
                ul.menu
                    li.menu__item
                        a(href="") Каталог
                    li.menu__item
                        a(href="") Галерея
                    li.menu__item
                        a(href="") Отзывы
                    li.menu__item
                        a(href="") Вопрос-ответ
                    li.menu__item
                        a(href="") Как нас найти?
                a.number(href="tel:89038161712") +7 903 816 17 12
                button.button.button_transparent Заказать звонок
            