section.proposal
    .container
        .content
            .proposal__info
                img(src="./img/icons/proposal-1.svg", alt="").proposal__icon
                img(src="./img/icons/proposal-2.svg", alt="").proposal__icon
                img(src="./img/icons/proposal-3.svg", alt="").proposal__icon
                img(src="./img/icons/proposal-4.svg", alt="").proposal__icon
                h2.proposal__title Нужен дизайн-проект?
                p.proposal__description Мы поможем разработать проект с учетом особенностей вашей детской комнаты.
                button.button.button_white.proposal__button Заказать дизайн-проект
            