section.reviews(data-aos="fade-up" data-aos-delay="300" data-aos-duration="600")
    .container
        .content
            h2.reviews__title Отзывы
            .owl-carousel.owl-theme.reviews__carousel
                .reviews__item.reviews__item_blue
                    .reviews__autor
                        p.reviews__autor-name Александр Шильдин
                        p.reviews__autor-info Владикавказ, 32 года
                    span.reviews__content Есть над чем задуматься: независимые государства набирают 
                                        | популярность среди определенных слоев населения, а значит, должны быть 
                                        | ограничены исключительно образом мышления. <br><br>
                                        |В частности, глубокий уровень погружения не оставляет шанса для 
                                        | новых принципов формирования материально-технической и кадровой базы.
                .reviews__item.reviews__item_orange
                    .reviews__autor
                        p.reviews__autor-name Александр Шильдин
                        p.reviews__autor-info Владикавказ, 32 года
                    span.reviews__content Есть над чем задуматься: независимые государства набирают 
                                        | популярность среди определенных слоев населения, а значит, должны быть 
                                        | ограничены исключительно образом мышления. <br><br>
                                        |В частности, глубокий уровень погружения не оставляет шанса для 
                                        | новых принципов формирования материально-технической и кадровой базы.
                .reviews__item.reviews__item_blue
                    .reviews__autor
                        p.reviews__autor-name Александр Шильдин
                        p.reviews__autor-info Владикавказ, 32 года
                    span.reviews__content Есть над чем задуматься: независимые государства набирают 
                                        | популярность среди определенных слоев населения, а значит, должны быть 
                                        | ограничены исключительно образом мышления. <br><br>
                                        |В частности, глубокий уровень погружения не оставляет шанса для 
                                        | новых принципов формирования материально-технической и кадровой базы.
                .reviews__item.reviews__item_orange
                    .reviews__autor
                        p.reviews__autor-name Александр Шильдин
                        p.reviews__autor-info Владикавказ, 32 года
                    span.reviews__content Есть над чем задуматься: независимые государства набирают 
                                        | популярность среди определенных слоев населения, а значит, должны быть 
                                        | ограничены исключительно образом мышления. <br><br>
                                        |В частности, глубокий уровень погружения не оставляет шанса для 
                                        | новых принципов формирования материально-технической и кадровой базы.
                .reviews__item.reviews__item_blue
                    .reviews__autor
                        p.reviews__autor-name Александр Шильдин
                        p.reviews__autor-info Владикавказ, 32 года
                    span.reviews__content Есть над чем задуматься: независимые государства набирают 
                                        | популярность среди определенных слоев населения, а значит, должны быть 
                                        | ограничены исключительно образом мышления. <br><br>
                                        |В частности, глубокий уровень погружения не оставляет шанса для 
                                        | новых принципов формирования материально-технической и кадровой базы.
                .reviews__item.reviews__item_orange
                    .reviews__autor
                        p.reviews__autor-name Александр Шильдин
                        p.reviews__autor-info Владикавказ, 32 года
                    span.reviews__content Есть над чем задуматься: независимые государства набирают 
                                        | популярность среди определенных слоев населения, а значит, должны быть 
                                        | ограничены исключительно образом мышления. <br><br>
                                        |В частности, глубокий уровень погружения не оставляет шанса для 
                                        | новых принципов формирования материально-технической и кадровой базы.
                .reviews__item.reviews__item_blue
                    .reviews__autor
                        p.reviews__autor-name Александр Шильдин
                        p.reviews__autor-info Владикавказ, 32 года
                    span.reviews__content Есть над чем задуматься: независимые государства набирают 
                                        | популярность среди определенных слоев населения, а значит, должны быть 
                                        | ограничены исключительно образом мышления. <br><br>
                                        |В частности, глубокий уровень погружения не оставляет шанса для 
                                        | новых принципов формирования материально-технической и кадровой базы.
                .reviews__item.reviews__item_orange
                    .reviews__autor
                        p.reviews__autor-name Александр Шильдин
                        p.reviews__autor-info Владикавказ, 32 года
                    span.reviews__content Есть над чем задуматься: независимые государства набирают 
                                        | популярность среди определенных слоев населения, а значит, должны быть 
                                        | ограничены исключительно образом мышления. <br><br>
                                        |В частности, глубокий уровень погружения не оставляет шанса для 
                                        | новых принципов формирования материально-технической и кадровой базы.


