// Base
body, html
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  font-size: 16px
  min-height: 100vh
  margin: 0px
  color: #222
  scroll-behavior: smooth

*
  box-sizing: border-box

a
  color: inherit
  transition: .25s ease

.container
  width: 100%
  position: relative
  display: grid
  grid-template-rows: auto
  grid-template-columns: auto [p-start] 30px [c-start] 1200px [c-end] 30px [p-end] auto
  @include respond-to(xxl)
    grid-template-columns: auto [p-start] 30px [c-start] 1100px [c-end] 30px [p-end] auto
  @include respond-to(xl)
    grid-template-columns: auto [p-start] 30px [c-start] 900px [c-end] 30px [p-end] auto
  @include respond-to(lg)
    grid-template-columns: auto [p-start] 30px [c-start] 660px [c-end] 30px [p-end] auto
  @include respond-to(md)
    grid-template-columns: auto [p-start] 30px [c-start] 480px [c-end] 30px [p-end] auto
  @include respond-to(sm)
    grid-template-columns: [p-start] 15px [c-start] auto [c-end] 15px [p-end]
  &>.content 
    grid-column: c-start/c-end

h1
  font-size: 3.2rem
  margin: 30px 0
h2
  font-size: 2.6rem
  margin: 15px 0
h3
  font-size: 2rem
  margin: 15px 0
h4
  font-size: 1.4rem
  margin: 15px 0
p
  font-size: 1rem
  margin: 10px 0